

table, td {
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 0.9vw;
}

.fieldtitle {
    padding-left: 1vw; 
    padding-right: 1vw;
    width: 15vw;
}

.formblock {
    width: 4vw; 
    height: 4vw;
}

.dateblock {
    width: 28vw;
    height: 4vw;
}

.booksblock {
    width: 5vw;
    height: 4vw; 
    text-align: center;
}

.subjectblock {
    width: 64.4vw;
    height: 4vw;  
}

.invisible {
    border: none;
    margin: none;
    padding: 0px;

}

.center {
    text-align: center;
}